* {
  box-sizing: border-box;
  /* Largeur de la boite de contenu : width - (2 * padding) - (2 * border)
       Hauteur de la boite de contenu : height - (2 * padding) - (2 * border) */
  font-family: 'Roboto', sans-serif;
  /*font-weight: normal;*/
}

body {
  max-width: 1350px;
  margin: auto;
  background-color: #f6f6f6;
}
