* {
  box-sizing: border-box;
  /* Largeur de la boite de contenu : width - (2 * padding) - (2 * border)
       Hauteur de la boite de contenu : height - (2 * padding) - (2 * border) */
  font-family: $police-defaut, sans-serif;
}

body {
  max-width: 1350px;
  margin: auto;
}
a {
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}
