.restos {
  height: fit-content;
  margin: auto;
  margin-top: 60px;
  padding-top: 25px;
  background-color: #f6f6f6;
}

.restos_titre {
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 5%;
}

.restos_grp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 44px;
  background-color: #f6f6f6;
}

.restos_grp_carte {
  height: 255px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  transition: 0.5s;
}

.restos_grp_carte:hover {
  transform: scale(1.03);
  -webkit-filter: drop-shadow(8px 8px 10px #444343) opacity(80%);
  filter: drop-shadow(8px 8px 10px #444343) opacity(80%);
}

.restos_grp_carte_container {
  position: relative;
  height: 70%;
  width: 100%;
}

.restos_grp_carte_container_nouveau {
  position: absolute;
  right: 20px;
  width: 85px;
  padding: 5px 10px 5px 10px;
  background-color: #99E2D0;
}

.restos_grp_carte_container_img {
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
  width: 100%;
}

.restos_grp_carte_infos {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
}

.restos_grp_carte_infos_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px 15px 15px;
  height: 100%;
}

.restos_grp_carte_infos_menu_nom {
  font-size: 1.1em;
  font-weight: 600;
  padding-bottom: 5px;
  margin: 0px;
}

.restos_grp_carte_infos_menu_ori {
  font-size: 1.1em;
  font-weight: 100;
  margin: 0px;
}

.restos_grp_carte_infos_container-coeurs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding-bottom: 15px;
}

.restos_grp_carte_infos_container-coeurs_contour-coeur {
  position: absolute;
  font-size: 1.4em;
}

.restos_grp_carte_infos_container-coeurs_coeur-plein {
  position: absolute;
  font-size: 1.2em;
  top: 22px;
  color: white;
  z-index: 1;
  transition: 0.3s;
}

.restos_grp_carte_infos_container-coeurs_coeur-plein:hover {
  font-size: 1.5em;
  top: 20px;
  background: linear-gradient(100deg, #ebabe0, #f00712);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

/*--------------------------------PARAMETRES SUIVANT ECRAN ------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  /*----- TABLETTE -----------------------------------------------------------------*/
  .restos {
    width: 58%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .restos_titre {
    font-size: 2em;
  }
  .restos_grp {
    border-bottom-left-radius: 50px;
  }
  .restos_grp__carte {
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  /*----- DESTKTOP-----------------------------------------------------------------*/
  .restos {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .restos_titre {
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
  .restos_grp_carte {
    border-bottom-left-radius: 0px;
    width: 23%;
  }
}
