@charset "UTF-8";
.cont-img {
  display: flex;
  height: 265px;
}

.cont-img_image {
  object-fit: cover;
  width: 100%;
}

.menu {
  position: relative;
  top: -40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
  font-family: roboto;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
}

.menu_titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  min-width: 100%;
  margin-bottom: -5px;
}

.menu_titre_nom-resto {
  font-family: Shrikhand;
  font-size: 29px;
  padding-left: 10px;
  margin: 35px auto 30px auto;
  text-align: center;
  width: 100%;
}

.menu_titre_coeur {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-right: 20px;
}

.menu_titre_coeur_contour-coeur {
  font-size: 23px;
}

.menu_titre_coeur_coeur-plein {
  position: absolute;
  font-size: 20px;
  top: 2px;
  color: #f5f1f1;
  z-index: 1;
  transition: 0.3s;
}

.menu_titre_coeur_coeur-plein:hover {
  font-size: 25px;
  top: -1px;
  background: linear-gradient(100deg, #ebabe0, #f00712);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.menu_serv {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  opacity: 0;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.menu_serv_type {
  position: relative;
  margin-left: 10px;
}

.menu_serv_type:after {
  content: '';
  position: absolute;
  top: 23px;
  left: 0px;
  height: 3px;
  width: 45px;
  background: #99E2D0;
}

.menu_serv_liste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_serv_liste_elem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
  min-width: 100%;
  box-shadow: 6px 10px 20px #c7c2c2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 8px 0px 8px 0px;
  padding-right: 20px;
  overflow: hidden;
  background-color: white;
}

.menu_serv_liste_elem:hover {
  cursor: pointer;
}

.menu_serv_liste_elemcontrol {
  overflow: visible;
  background-color: red;
}

.menu_serv_liste_elem_descr {
  min-width: 100%;
}

.menu_serv_liste_elem_descr:hover {
  padding-right: 30%;
}

.menu_serv_liste_elem_descr_nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  margin: 0px 0px 10px 10px;
}

.menu_serv_liste_elem_descr_info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
  margin: 0px 0px 0px 10px;
}

.menu_serv_liste_elem_prix {
  font-size: 15px;
  margin-left: -25px;
  margin-right: -120px;
  padding-top: 25px;
  transition: all 600ms;
}

.menu_serv_liste_elem_select {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  right: -150px;
  background: #99E2D0;
}

.menu_serv_liste_elem_select_coche {
  font-size: 22px;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  background-color: #57a52a;
}

.menu_entrées {
  -webkit-animation: app_prog 800ms linear 0ms forwards 1 normal;
  animation: app_prog 800ms linear 0ms forwards 1 normal;
}

.menu_plats {
  -webkit-animation: app_prog 800ms linear 800ms forwards 1 normal;
  animation: app_prog 800ms linear 800ms forwards 1 normal;
}

.menu_desserts {
  -webkit-animation: app_prog 800ms linear 1600ms forwards 1 normal;
  animation: app_prog 800ms linear 1600ms forwards 1 normal;
}

.cd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #f1f1f1;
  margin-top: -45px;
}

.cd_btn-cd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-decoration: none;
  color: white;
  width: 190px;
  margin: 40px 0px 40px 0px;
  background: linear-gradient(170deg, #f096eb, #b12bcc);
  -webkit-filter: drop-shadow(4px 4px 5px #c4bebe);
  filter: drop-shadow(4px 4px 5px #747171);
}

.cd_btn-cd:hover {
  background: linear-gradient(170deg, #ecbaea, #b663c7);
  -webkit-filter: drop-shadow(8px 8px 10px #444343);
  filter: drop-shadow(8px 8px 10px #444343);
}

.cd_btn-cd_lien {
  font-family: roboto;
  font-size: 16px;
  cursor: pointer;
}

.menu_serv_liste_elem:hover .menu_serv_liste_elem_prix {
  transform: translate(-60px);
}

.menu_serv_liste_elem:hover .menu_serv_liste_elem_select {
  -webkit-animation: glissement-cochage 300ms linear 0ms forwards 1 normal;
  animation: glissement-cochage 300ms linear 0ms forwards 1 normal;
}

.menu_serv_liste_elem:hover .menu_serv_liste_elem_select_coche {
  -webkit-animation: rotation 300ms linear 0ms forwards 1 normal;
  animation: rotation 300ms linear 0ms forwards 1 normal;
}

/* --- PARAMETRAGE SUIVANT ECRANS --- */
/*-----------TABLETTE--------*/
@media screen and (min-width: 768px) {
  .menu_serv {
    width: 47%;
  }
  .menu_serv_liste_elem_descr {
    width: 60%;
    padding-right: 10%;
  }
  .menu_serv_liste_elem:hover .menu_serv_liste_elem_descr {
    padding-right: 30%;
  }
}

/*-----------DESKTOP--------*/
@media screen and (min-width: 992px) {
  .menu_serv {
    width: 32%;
  }
  .menu_serv_liste_elem_descr {
    width: 20%;
    padding-right: 15%;
  }
  .menu_serv_liste_elem:hover .menu_serv_liste_elem_descr {
    padding-right: 37%;
  }
}
