/*---------------------------------------------------------------------------------------------------------------------*/
/*- LOADER SPINNER ----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes grossissement {
  0% {
    color: #9356DC;
  }
  30% {
    transform: scale(0.25, 4);
  }
  50% {
    transform: scale(3, 0.25);
  }
  70% {
    transform: scale(2, 4);
  }
  100% {
    transform: scale(5);
    color: #FF79DA;
  }
}

@keyframes grossissement {
  0% {
    color: #9356DC;
  }
  30% {
    transform: scale(0.25, 4);
  }
  50% {
    transform: scale(3, 0.25);
  }
  70% {
    transform: scale(2, 4);
  }
  100% {
    transform: scale(5);
    color: #FF79DA;
  }
}

@-webkit-keyframes rotation-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*- MENUS -------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes glissement-cochage {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-70px);
  }
}

@keyframes glissement-cochage {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-70px);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes app_prog {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  50% {
    opacity: 0;
    transform: translateY(80%);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes app_prog {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(100%);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
