/*---------------------------------------------------------------------------------------------------------------------*/
/*- LOADER SPINNER ----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes diction {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.5, 1.25);
  }
  30% {
    transform: scale(1, 0.25);
  }
  60% {
    transform: scale(0.5, 1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grossissement-syllabe {
  0% {
    font-size: 1em;
  }
  100% {
    font-size: 3em;
    opacity: 1;
  }
}

@keyframes rotation-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*- MENUS -------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------*/
@keyframes glissement-cochage {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-82px);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes app_prog {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  50% {
    opacity: 0;
    transform: translateY(80%);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes app_prog {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(100%);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
